body {
  font-family: "Spartan", sans-serif;
  background-image: url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg");
  background-position: 0px 0px, right 0em bottom 0em;
  background-repeat: no-repeat, no-repeat;
  min-height: 100vh;
}

@media (min-width: 992px) {
  body {
    background-image: url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg");
  }
}

.rating {
  background-color: hsl(300, 24%, 96%);
}

.testimonial {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
}

.testimonial-person-name {
  color: hsl(0, 0%, 100%);
}

.testimonial-person-status {
  color: hsl(333, 80%, 67%);
}
